#Project Explanation
##subheading

In [1]:
#importing all libraries that I will need for this project
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#internet file - WHO Data Density of physicians (per 10 000 population) [CSV]
#reading from internet using read_csv function
density = pd.read_csv('https://srhdpeuwpubsa.blob.core.windows.net/whdh/DATADOT/INDICATOR/217795A_ALL_LATEST.csv')
density.head()

#data exploration
print('rows, cols', density.shape)
print(density.head())
print(density.describe())

#transforming data ~
#subsetting to only certain years to align with other datasets
density = density[density["DIM_TIME"].isin(["2015","2016","2017"])]
#removing unnecessary columns
density_clean = density[["DIM_TIME","GEO_NAME_SHORT","RATE_PER_10000_N"]]

rows, cols (3168, 12)
            IND_ID  IND_CODE IND_UUID IND_PER_CODE  DIM_TIME DIM_TIME_TYPE  \
0  217795AHWF_0001  HWF_0001  217795A     HWF_0001      2006          YEAR
1  217795AHWF_0001  HWF_0001  217795A     HWF_0001      2012          YEAR
2  217795AHWF_0001  HWF_0001  217795A     HWF_0001      2020          YEAR
3  217795AHWF_0001  HWF_0001  217795A     HWF_0001      2016          YEAR
4  217795AHWF_0001  HWF_0001  217795A     HWF_0001      2018          YEAR

   DIM_GEO_CODE_M49 DIM_GEO_CODE_TYPE DIM_PUBLISH_STATE_CODE  \
0               826           COUNTRY              PUBLISHED
1               558           COUNTRY              PUBLISHED
2               608           COUNTRY              PUBLISHED
3               620           COUNTRY              PUBLISHED
4               620           COUNTRY              PUBLISHED

             IND_NAME                                     GEO_NAME_SHORT  \
0  Density of doctors  United Kingdom of Great Britain and Northern I...
1  Density of doctors                                          Nicaragua
2  Density of doctors                                        Philippines
3  Density of doctors                                           Portugal
4  Density of doctors                                           Portugal

   RATE_PER_10000_N
0            24.597
1             8.536
2             7.515
3            49.362
4            52.944
          DIM_TIME  DIM_GEO_CODE_M49  RATE_PER_10000_N
count  3168.000000       3168.000000       3168.000000
mean   2008.156881        427.738321         21.202623
std       8.782554        251.342806         15.148733
min    1990.000000          1.000000          0.125000
25%    2002.000000        204.000000          7.729000
50%    2009.000000        422.000000         21.397000
75%    2016.000000        642.000000         32.411000
max    2022.000000        958.000000         94.285000

In [5]:
#local file - World Bank Group World Development Indicators [Tab-Delimited Text File]
wdi = pd.read_csv('/content/7f00b99d-25a1-442f-88e1-966fddb29125_Data.txt', sep='\t')
#data exploration
print('rows, cols', wdi.shape)
print(wdi.head())
print(wdi.describe())
#data pivoting (unpivoting the year columns - wide to long)
wdi_clean = wdi.melt(id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'], value_vars=['2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]'], var_name='Year', value_name='Value')
wdi_clean.head()

rows, cols (537, 7)
                                         Series Name     Series Code  \
0  Births attended by skilled health staff (% of ...  SH.STA.BRTC.ZS
1  Births attended by skilled health staff (% of ...  SH.STA.BRTC.ZS
2  Births attended by skilled health staff (% of ...  SH.STA.BRTC.ZS
3  Births attended by skilled health staff (% of ...  SH.STA.BRTC.ZS
4  Births attended by skilled health staff (% of ...  SH.STA.BRTC.ZS

     Country Name Country Code 2015 [YR2015] 2016 [YR2016] 2017 [YR2017]
0     Afghanistan          AFG          50.5            ..          53.4
1         Albania          ALB            ..            ..            ..
2         Algeria          DZA            ..            ..            ..
3  American Samoa          ASM            ..            ..            ..
4         Andorra          AND           100           100           100
                                              Series Name     Series Code  \
count                                                 534             532
unique                                                  4               2
top     Births attended by skilled health staff (% of ...  SH.STA.BRTC.ZS
freq                                                  266             266

       Country Name Country Code 2015 [YR2015] 2016 [YR2016] 2017 [YR2017]
count           532          532           532           532           532
unique          266          266           303           309           303
top     Afghanistan          AFG            ..            ..            ..
freq              2            2           173           173           179

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Afghanistan,AFG,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,2015 [YR2015],50.5
1,Albania,ALB,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,2015 [YR2015],..
2,Algeria,DZA,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,2015 [YR2015],..
3,American Samoa,ASM,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,2015 [YR2015],..
4,Andorra,AND,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,2015 [YR2015],100

In [4]:
#local file - OECD Healthcare Coverage Data - Selected Dates [CSV]
oecd = pd.read_csv('/content/OECD.ELS.HD,DSD_HEALTH_PROT@DF_HEALTH_PROT,1.0+.A..PT_POP.COVGCMED+TPRIBASI.csv')
#data exploration
print('rows, cols', oecd.shape)
print(oecd.head())
print(oecd.describe())

rows, cols (232, 24)
  STRUCTURE                                     STRUCTURE_ID  \
0  DATAFLOW  OECD.ELS.HD:DSD_HEALTH_PROT@DF_HEALTH_PROT(1.0)
1  DATAFLOW  OECD.ELS.HD:DSD_HEALTH_PROT@DF_HEALTH_PROT(1.0)
2  DATAFLOW  OECD.ELS.HD:DSD_HEALTH_PROT@DF_HEALTH_PROT(1.0)
3  DATAFLOW  OECD.ELS.HD:DSD_HEALTH_PROT@DF_HEALTH_PROT(1.0)
4  DATAFLOW  OECD.ELS.HD:DSD_HEALTH_PROT@DF_HEALTH_PROT(1.0)

        STRUCTURE_NAME ACTION REF_AREA Reference area FREQ  \
0  Healthcare coverage      I      NLD    Netherlands    A
1  Healthcare coverage      I      NLD    Netherlands    A
2  Healthcare coverage      I      NLD    Netherlands    A
3  Healthcare coverage      I      EST        Estonia    A
4  Healthcare coverage      I      EST        Estonia    A

  Frequency of observation MEASURE                    Measure  ...  \
0                   Annual     HIC  Health insurance coverage  ...
1                   Annual     HIC  Health insurance coverage  ...
2                   Annual     HIC  Health insurance coverage  ...
3                   Annual     HIC  Health insurance coverage  ...
4                   Annual     HIC  Health insurance coverage  ...

  TIME_PERIOD Time period OBS_VALUE Observation value  OBS_STATUS  \
0        2015         NaN      99.8               NaN           E
1        2016         NaN      99.9               NaN           E
2        2017         NaN      99.9               NaN           E
3        2015         NaN      94.0               NaN           A
4        2016         NaN      94.0               NaN           A

   Observation status  UNIT_MULT  Unit multiplier DECIMALS Decimals
0     Estimated value          0            Units      NaN      NaN
1     Estimated value          0            Units      NaN      NaN
2     Estimated value          0            Units      NaN      NaN
3        Normal value          0            Units      NaN      NaN
4        Normal value          0            Units      NaN      NaN

[5 rows x 24 columns]
       TIME_PERIOD  Time period   OBS_VALUE  Observation value  UNIT_MULT  \
count   232.000000          0.0  232.000000                0.0      232.0
mean   2016.034483          NaN   96.586207                NaN        0.0
std       0.821054          NaN    8.313051                NaN        0.0
min    2015.000000          NaN   35.600000                NaN        0.0
25%    2015.000000          NaN   94.900000                NaN        0.0
50%    2016.000000          NaN  100.000000                NaN        0.0
75%    2017.000000          NaN  100.000000                NaN        0.0
max    2017.000000          NaN  100.000000                NaN        0.0

       DECIMALS  Decimals
count       0.0       0.0
mean        NaN       NaN
std         NaN       NaN
min         NaN       NaN
25%         NaN       NaN
50%         NaN       NaN
75%         NaN       NaN
max         NaN       NaN